/* mytt import styles */
table.table-mytt {
  font-size: 0.9em
}
table.table-mytt .hidden-xs,
table.table-mytt .visible-md {
  display: none !important;
}
table.table-mytt .visible-xs-block {
  display: block !important;
}
table.table-mytt td, 
table.table-mytt th {
  padding: .25rem;
}
table.table-mytt a {
  color: #28a745;
  cursor: default;
}
.badge-ttr {
  background-color: #f35400 !important;
}
#myttmodal-TTR-Werte-pane span.text-success,
#myttmodal-TTR-Werte-pane a {
  color: #f35400 !important;
}
#myttmodal-TTR-Werte-pane .container.border {
  border-color: #f35400 !important;
}
#myttmodal-TTR-Werte-pane .btn-success,
#myttmodal-TTR-Werte-pane .btn-outline-success:hover {
  border-color: #f35400 !important;
  background-color: #f35400 !important;
  color: #ffffff !important;
}
#myttmodal-TTR-Werte-pane .btn-outline-success {
  color: #f35400;
  border-color: #f35400;
}
#myttmodal-TTR-Werte-pane table.table-mytt a {
  cursor: pointer;
}
#myttmodal-TTR-Werte-pane table.table-mytt a.no-link {
  font-size: inherit;
  line-height: inherit;
  color: inherit !important;
  cursor: default;
}
#myttmodal-TTR-Werte-pane table.table-mytt .visible-xs,
#myttmodal-TTR-Werte-pane table.table-mytt .visible-xs-inline {
  display: none !important
}
#myttmodal-Bilanzen-pane table.table-mytt {
  background-color: #fff;
}
#myttmodal-Bilanzen-pane table.table-mytt > tbody > tr.odd > td {
  background-color: #e5e8e8;
}
#myttmodal-Bilanzen-pane table.table-mytt > thead > tr > th {
  background-color: #09a41a;
  color: #fff;
  border-bottom: 1px dotted #ddd;
}