/* SMALL SCREEN */

@media (max-width: 768px) {

  :root {
    --app-height: 100%;
  }

  #header-mytt-status-div div.d-flex {
    flex-direction: column;
  }

  .editor-container {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }

  #planung-serie-spielklasse {
    font-size: 1em !important;
  }

  .card-spielklasse {
    width: 100%;
  }

  .details-sidebar {
    right: 1vw !important;
    width: 98vw !important;
    top: 60px !important;
  }

  #planung-reload-data-modal-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #myttmodal-tab-container .nav-item {
    font-size: 0.9em;
  }

  #undo-redo-buttons {
    bottom:10px !important;
  }

  #vollversion-button {
    bottom:10px !important;
  }

  /* Navbar */
  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 90%;
    height: 100%;
  }

  #navbarCollapseRight.navbar-collapse.collapsing {
      right: -90%;
      transition: height 0s ease;
  }

  #navbarCollapseRight.navbar-collapse.show {
      right: 0;
      transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ #navbarCollapseRight.navbar-collapse {
      transition: right 500ms ease-in-out;
  }

  #navbarCollapseLeft.navbar-collapse.collapsing {
      left: -90%;
      transition: height 0s ease;
  }

  #navbarCollapseLeft.navbar-collapse.show {
      left: 0;
      transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ #navbarCollapseLeft.navbar-collapse {
      transition: left 500ms ease-in-out;
  }

  #navbarCollapseRight > div.d-flex{
    display: block !important
  }

  .details-sidebar > .card {
    height: calc(var(--app-height) - 65px);
    z-index: 10;
  }
}

@media (min-width: 768px) {
  #togglerLeft.navbar-toggler {
      display: block !important;
  }

  #navbarCollapseLeft.navbar-collapse {
    position: fixed;
    top: 50px;
    left: 0;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 240px;
    height: 100%;
    display: block!important;
  }

  #navbarCollapseLeft.navbar-collapse:not(.show) {
      left: -240px;
  }

  #navbarCollapseLeft.navbar-collapse.planungIsNew {
    top: 100px;
  }
  
  #navbarCollapseLeft.navbar-collapse.collapsing {
      left: -240px;
      transition: height 0s ease;
  }
  
  #navbarCollapseLeft.navbar-collapse.show {
      left: 0;
      transition: left 300ms ease-in-out;
  }
  
  .navbar-toggler.collapsed ~ #navbarCollapseLeft.navbar-collapse {
      transition: left 500ms ease-in-out;
  }
  
  .navbar-expand-lg #navbarCollapseLeft .navbar-nav {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .navbar-toggler.collapsed ~ #navbarCollapseLeft.navbar-collapse {
      transition: left 500ms ease-in-out;
  }
  
}