a, a:hover,
.link, .link:hover {
  text-decoration: none;
  cursor: pointer;
}

a .spieler-farbe-selector.active,
a .spieler-farbe-selector.active:hover,
a .spieler-farbe-selector:hover {

  border: 2px solid;
  margin: 0px 10px 5px 0px !important;
}

a .spieler-farbe-selector {
  border: 1px solid;
  margin: 1px 11px 6px 1px !important;
}

/* HEADER */
#header h4 {
  cursor: default;
}

/* FOOTER */
.tooltip-inner-wide {
  max-width: unset !important;
}

/* PLANUNG TAGS MODAL */
.tag-list-item-badge {
  white-space: normal;
  text-align: left;
}

/* SPIELER FARBE */

.spieler-farbe-green {
  color: #155724;
  background: #d4edda !important; 
}

.spieler-farbe-red {
  color: #721c24;
  background: #f8d7da !important; 
}

.spieler-farbe-yellow {
  color: #856404;
  background: #fff3cd !important; 
}

.spieler-farbe-blue {
  color: #004085;
  background: #cce5ff !important; 
}

.spieler-farbe-light {
  color: #818182;
  background: #fefefe !important; 
}

/* DISPLAY-NONE */

.display-none {
  display: none;
}
.invisible {
  visibility: hidden;
}

/* SIDEBAR */

.details-sidebar {
  position: fixed;
  height: 100vh;
  top: 100px; /* Stay at the top */
  right: 50px;
  width: 550px;
  z-index: 8;
}

.details-sidebar > .card {
  height: calc(100vh - 150px);
}

.sidebar-details-icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.details-sidebar > .card > .card-body {
  overflow-y: auto;
}

#spieler-details-icon span {
  cursor: default;
}

.card-collapseable .card-header i.fa-caret-down {
  transition: 0.5s;
}

.card-collapseable .card-header.collapsed {
  border-bottom: none;
}

.card-collapseable .card-header.collapsed i.fa-caret-down {
  transform: rotate(-90deg);
}

#mannschaft-details-view-body-bilanzen td.bilanzen-spieler-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
}
/*#spieler-verfuegbarkeits-input:active {
  accent-color: white !important;
}*/
#spieler-verfuegbarkeits-input.v100 {
  accent-color: green;
}
#spieler-verfuegbarkeits-input.v75 {
  accent-color: lightgreen;
}
#spieler-verfuegbarkeits-input.v50 {
  accent-color: yellow;
}
#spieler-verfuegbarkeits-input.v25 {
  accent-color: orange;
}
#spieler-verfuegbarkeits-input.v0 {
  accent-color: #dc3545;
}

/* EDITOR */

.editor-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-spielklasse {
  width: 550px;
}

#editor-col.single-spielklasse .card-spielklasse {
  border: none !important;
}
#editor-col.single-spielklasse .card-spielklasse > .card-header{
  display: none !important;
}

.mannschafts-row {
  margin: 30px 0;
}

.mannschaft {
  width: 420px;
  margin: 0 auto;
}

.mannschaft-header, .spieler, .mannschaft-footer {
  padding: 0.1rem .5rem
}

.invalid {
  border: 2px solid !important;
  border-color: #dc3545 !important;
}
.invalid.soft {
  border-color: #ffc107 !important;
}

.mannschaft-invalid .mannschaft-header {
  color: #dc3545 !important;
}
.mannschaft-invalid.soft .mannschaft-header {
  color: #ffc107 !important;
}

.mannschaft-invalid .invalid {
  border-left: 0px solid !important;
  border-right: 0px solid !important;
}

.mannschaft .spielerliste {
  min-height: 25px;
}

.mannschaft .new-qttr-input.is-invalid {
  padding-right: inherit !important;
  background-image: none;
}

.mannschaft-focused .mannschaft-header {
  background-color: rgba(0,0,0,0.1);
}

/* SPIELER INVALID */

.spieler-invalid {
  color: #dc3545 !important;
  z-index: 2; /* disables flickering of border bottom when hovering of the invalid spieler */
}

.spieler-invalid-icon,
.mannschaft-invalid-icon {
  display: none;
  margin-right: -40px;
}

.spieler-invalid .spieler-invalid-icon,
.mannschaft-invalid .mannschaft-invalid-icon {
  display: inline-block;
}

.spieler-invalid .ttr-difference {
  margin-right: 8px;
}

.spieler.highlight-invalid .spieler-name {
  font-weight: bold;
}

.spieler-focused {
   filter: brightness(95%);
}

.spieler-qttr-outdated {
  text-decoration: underline orange;
}

.spieler.v75{
  border-left: 4px solid lightgreen;
  background: linear-gradient(to right, #d4edda 5%, white, 20%, white 100% );
}
.spieler.v50{
  border-left: 4px solid yellow;
  background: linear-gradient(to right, #fff3cd 5%, white, 20%, white 100% );
}
.spieler.v25{
  border-left: 4px solid orange;
  background: linear-gradient(to right, #fff3cd 5%, white, 20%, white 100% );
}
.spieler.v0{
  border-left: 4px solid #dc3545;
  background: linear-gradient(to right, #f8d7da 5%, white, 20%, white 100% );
}

/* SPIELER COLUMNS */

.spieler-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ttr-difference {
  min-width: 50px;
  text-align: center;
}

.ttr-wert input {
  max-width: 90px;
}

/* SPIELER SPV */

.spv {
  display: none;
  padding: .25em .8em;
  cursor: default
}

.spv-possible .spv,
.spv-highlight .spv,
.spv-set .spv {
  display: inline-block
} 

.edit-tooltip {
  background: #fff!important;
  color: #6c757d!important;
  margin-left: -10px;
}

/* EDITOR NOT EDITABLE */
#editor-col.not-editable {
  font-style: italic;
}
#editor-col.not-editable a, 
#editor-col.not-editable a:hover,
#editor-col.not-editable .link,
#editor-col.not-editable .link:hover
{
  cursor: default !important;
}
#editor-col.not-editable .spieler-plays-in-higher-mannschaft-icon
{
  display: none;
}

/* WEBVIEW */

#myTTModal .tab-pane {
  height: calc(85vh - 5em);
  min-height: calc(550px - 5em);
}

#myTTModal .nav-link {
  color: var(--dark-grey) !important;
}

#myTTModal .modal-body {
  height: 85vh;
}

#myTTModal .myttmodal-status {
  min-height: 5em;
  line-height: 1.2em;
}

#myTTModal .myttmodal-load-button {
  min-width: 150px
}

#myTTModal .myttmodal-home-button,
#myTTModal .myttmodal-loading-indicator .fa-refresh {
  cursor: pointer;
}

.myttmodal-popover {
  max-width: 500px !important;
}

/* NEW PLANUNG MODAL */
#newPlanungModal .form-control:valid {
  background-image: none !important;
}
/* OVERLAY ICON */

.overlay-icon {
  margin-left: -0.5em;
}

span.badge {
  cursor: default;
}

/* ALERT */
#alert {
  position: fixed;
  bottom: 30px;
  z-index: 9999;
  width: 100%
}

#alert .alert-container {
  width: 60%;
  margin: 0 auto;
}

/* PROGRESSBAR */

.progressbar-container {
  display: none;
  position: fixed; 
  top: 0;
  z-index: 9999; 
  height: 100vh; 
  width: 100vw
}

.progressbar-container.fullscreen {
  background: #ffffff;
}

.progressbar-container .progress {
  height: 40px; 
  width: 20%; 
  margin: 45vh auto;
}

.progressbar-container .progress .progress-bar {
  font-size: 1.3em;
}

/* FOOTER */
#footer .inactive-tag {
  opacity: 0.5;
}

#footer .inactive-tag:hover {
  opacity: 1;
  cursor: pointer;
}

#view-switcher-container {
  position:fixed;
  left:10px;
  top:80px;
  z-index:5;
}

#undo-redo-buttons {
  position:fixed;
  left:10px;
  bottom:50px;
  z-index:5;
}

#undo-redo-buttons button:disabled {
  cursor: default;
  opacity: 0.2;
}

#vollversion-button {
  position:fixed;
  right:10px;
  bottom:50px;
  z-index:5;
  display:none; /*temp disable*/
}

/* ABOUT MODAL */

#tischtennis-planer-about-modal {
  top: 50px !important;
}

/* WELCOME MODAL */
#tischtennis-planer-welcome-modal {
  top: 50px !important;
}
.welcome-modal-page {
  display: none;
  text-align: center;
}
.welcome-modal-page.active {
  display: block;
}
.welcome-modal-page h1.welcome-icon {
  font-size: 4rem !important;
}