
/* PRINT  STYLES */

@page:first {
  margin: 15mm 0mm 20mm 0mm !important;
}
@page {
  margin: 25mm 0mm 20mm 0mm !important;
}

.display-none {
  display: none;
}

body {
  margin:0 !important;
  padding:0 !important;
}

#headerContainer {
  position: relative !important;
}

.editor-container {
  margin-top: -50px !important;
}

#editor-col {
  max-width: 100% !important;
  flex: 0 0 100% !important;
}

.mannschaft {
  border: 2px solid !important;
  margin: 0 5% !important;
}

.mannschaft .mannschaft-header {
  border-bottom: 2px solid !important;
}

.mannschaft .spielerliste li {
  border-top: 2px solid !important;
}

.mannschaft-header, .spieler, .mannschaft-footer {
  padding: .15rem .5rem !important;
}

.mannschaft-print-kommentar,
.spieler-print-kommentar {
  display: block !important;
}
.spieler-print-kommentar {
  margin-top: -0.75em !important;
}
.mannschaft-print-kommentar {
  margin-top: -1em !important;
}

#sidebar,
#alert,
#progressbar
#myTTModal,
#newPlanungModal,
#header-mytt-status-div,
#menu,
#footer,
#neue-planung-col,
.tooltip,
.add-mannschaft-button-container,
ul.add-spieler-button-container,
div.spv span.badge-light {
  display: none !important;
}

#header .bg-dark {
  background-color: transparent !important;
  color: #131313 !important;
}

#header-print-date-div {
  display: block !important;
}

.card-spielklasse,
.mannschafts-row,
.card {
  page-break-inside: avoid !important;
}

#editor div {
  -webkit-print-color-adjust: exact !important;
}

#editor-col.single-spielklasse .card-spielklasse {
  border: none !important;
}
#editor-col.single-spielklasse .card-spielklasse > .card-header{
  display: none !important;
}

.mannschafts-row {
  margin: 30px 0;
}

.mannschaft {
  width: 420px;
  margin: 0 auto;
}

.mannschaft-header, .spieler, .mannschaft-footer {
  padding: 0.1rem .5rem
}

.invalid {
  border: 2px solid !important;
  border-color: #dc3545 !important;
}

.mannschaft-invalid .mannschaft-header {
  color: #dc3545 !important;
}

.mannschaft-invalid .invalid {
  border-left: 0px solid !important;
  border-right: 0px solid !important;
}

.mannschaft .spielerliste {
  min-height: 25px;
}

.mannschaft .new-qttr-input.is-invalid {
  padding-right: inherit !important;
  background-image: none;
}
/* SPIELER VERFÜGBARKEIT */
.spieler.v75{
  border-left: 4px solid lightgreen;
  background: linear-gradient(to right, #d4edda 5%, white, 20%, white 100% );
}
.spieler.v50{
  border-left: 4px solid yellow;
  background: linear-gradient(to right, #fff3cd 5%, white, 20%, white 100% );
}
.spieler.v25{
  border-left: 4px solid orange;
  background: linear-gradient(to right, #fff3cd 5%, white, 20%, white 100% );
}
.spieler.v0{
  border-left: 4px solid #dc3545;
  background: linear-gradient(to right, #f8d7da 5%, white, 20%, white 100% );
}

/* SPIELER INVALID */

.spieler-invalid {
  color: #dc3545 !important;
 z-index: 2; /* disables flickering of border bottom when hovering of the invalid spieler */
}

.spieler-invalid-icon,
.mannschaft-invalid-icon {
  display: none;
  margin-right: -40px;
}

.spieler-invalid .spieler-invalid-icon,
.mannschaft-invalid .mannschaft-invalid-icon {
  display: inline-block;
}

.spieler-invalid .ttr-difference {
  margin-right: 8px;
}

.spieler.highlight-invalid .spieler-name {
  font-weight: bold;
}

.spieler-qttr-outdated {
  text-decoration: underline orange;
}

/* SPIELER COLUMNS */

.spieler-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ttr-difference {
  min-width: 60px;
}

.ttr-wert input {
  max-width: 90px;
}

/* SPIELER SPV */

.spv {
  display: none;
  padding: .25em .8em;
  cursor: default
}

.spv-possible .spv,
.spv-highlight .spv,
.spv-set .spv {
  display: inline-block
} 

/* SPIELER FARBE */

.spieler-farbe-green {
  color: #155724;
  background-color: #d4edda !important; 
}

.spieler-farbe-red {
  color: #721c24;
  background-color: #f8d7da !important; 
}

.spieler-farbe-yellow {
  color: #856404;
  background-color: #fff3cd !important; 
}

.spieler-farbe-blue {
  color: #004085;
  background-color: #cce5ff !important; 
}

.spieler-farbe-light {
  color: #818182;
  background-color: #fefefe !important; 
}